.defineIt-selectedWord {
/* 	resize: both; */
	overflow: auto;
    position: absolute;
    z-index: 9999999;
    width: fit-content;
	color: white;
    padding: 1px;
    margin-top: 18px;
    font-family: Calibri;
	font-size: 15px;
/* 	max-height: 1000px !important;
	max-width: 800px !important;
	min-height: 225px !important;
	min-width: 150px !important; */
	width: 350px;
	max-height: fit-content;
	height: 500px;
	/* box-shadow: 5px 5px 4px rgba(25,25,25); */
	/* height: 500px; */
	-moz-user-select: none;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
								  supported by Chrome and Opera */
}
.defineIt-popupIcon {
	overflow: auto;
    position: absolute;
    z-index: 9999999;
    width: fit-content;
	color: white;
	opacity: 0.1;
    padding: 1px;
    margin-top: 18px;
    font-family: Calibri;
	font-size: 15px;
	height: 32px !important;
	width: 32px !important;
	background: url('chrome-extension://oggcbcimbjpahiohkgphecjjaedgfbhm/icons/256.png') no-repeat round;
	-moz-user-select: none;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
								  supported by Chrome and Opera */
}
.defineIt-popupIcon:hover {
	cursor: pointer;
	opacity: 1;
}

.defineIt-selectedWord:after, .defineIt-selectedWord:before {
	bottom: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.defineIt-selectedWord:after {
	border-color: rgba(47, 79, 79, 0);
	border-bottom-color: #2F4F4F;
	border-width: 10px;
	margin-left: -10px;
}
.defineIt-selectedWord:before {
	border-color: rgba(0, 0, 0, 0);
	border-width: 14px;
	margin-left: -14px;
}
.defineIt-lexicalCategory {
	font-size: 22px;
	font-family: 'Times New Roman', Times, serif;
}
.defineIt-headerNode {
	display: flex;
	height: 32px;
}
.defineIt-imgNode {
    width: 32px;
    height: 100%;
}
.defineIt-middleNode {

	background-color: #201f22;
    border: 2px solid #3A3A3D;
}
.defineIt-flexRightNode {
    width: 100%;
    background-color: #09080a;
    border-left: 2px solid #3A3A3D;
}	
.defineIt-footerNode {
	display: flex;
	height: 66px;
	background: url('chrome-extension://oggcbcimbjpahiohkgphecjjaedgfbhm/icons/256.png') no-repeat round;
}
.defineIt-wordNode {
		margin-left: 5px;
		font-size: 35px;		
		color: lightblue;
		margin: 10px;
		font-weight: 600;
}
.defineIt-lexicalCategoryDiv {
	margin: 10px;
    font-size: 130%;
}
.defineIt-lexicalCategorySubDiv {
	margin-left: 1%;
	margin-top: 10px;
}
.defineIt-lexicalCategoryP {
	font-size: 135%;
	font-style: italic;
	margin: 0px 0px 8px 0px;
	text-decoration: underline;
	text-decoration-color: darkseagreen;
}
.defineIt-definitionsNode {
}
.defineIt-definitions {
	display: flex;
	margin-top: 25px;
	margin-bottom: 5px;
	line-height: 22px;
}
.defineIt-example {
	margin-left: 8%;
	color: #ADD8E6;
	font-style: italic;
	display: flex;
}
.defineIt-forwardSlashes {
	margin-right: 2%;
}
.defineIt-definitionSpan {
	margin-right: 5%;
}
#DefineItTextToBold {
	font-weight: unset;
}

.defineIt-spinner {
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 50px;
	width: 97px;
	text-align: center;
  }
  
  .defineIt-spinner > div {
	width: 25px;
	height: 25px;
	background-color: rgb(255, 255, 255);
  
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .defineIt-spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
  }
  
  .defineIt-spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
	0%, 80%, 100% { 
	  -webkit-transform: scale(0);
	  transform: scale(0);
	} 40% { 
	  -webkit-transform: scale(1.0);
	  transform: scale(1.0);
	}
  }

/* .defineIt-arrow-up {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid black;
	border-bottom-width: 10x;
    border-right-width: 8px;
    border-left-width: 8px;
	border-top-width: 8px;
	z-index: 99999999;
} */

/* .selectedWord > ::-webkit-scrollbar {
width: 8px !important;
} */

/* Track */
/* .selectedWord > ::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey !important;
border-radius: 5px;
} */

/* Handle */
/* .selectedWord > ::-webkit-scrollbar-thumb {
background: rgb(32, 31, 34) !important;
border-radius: 5px;
} */